@import "_partial/index"
@import "_partial/base"
@import "_partial/markdown"
@import "_partial/vcomments"
@import "_partial/newstyle"

$black = black
$white = white
$color1 = #111
$color2 = #222
$color9 = #999
$color_grey = rgba(0,0,0,.1)
$colorF78 = #F7F8F8
$color_red = #FF513EFF
$13 = 12px
$100 = 100%
$44 = 44px
$liubai = 249px
$box-width = 800px
$fm1 = DINAlternate-bold, Helvetica, Tahoma, Arial, "Microsoft YaHei", "微软雅黑","Microsoft JhengHei",STXihei, "华文细黑", SimSun, "宋体", Heiti, "黑体", sans-serif   

m_yuliu(a,b,c)
    width a
    padding b c

body
    list-style-type none
    font-family $fm1
a
    color $color2
    text-decoration none
a:hover
    color $color_red
// a:hover::after
//     content "➜"
//     color rgba(241 105 37,1)
//     padding-left 12px
//     font-size 12px
//     overflow hidden
//     white-space nowrap
//     display inline-block
//     vertical-align bottom     
    
._list
    &_year
        font-size 36px
        padding 30px 0 30px $liubai
        color $color_grey
    &_item     
        padding 30px 0 30px $liubai
        &:hover
            background #F7F8F8 
        &_title
            width $100
            font-size 30px
            margin-bottom 10px
            color $color2
        &_con
            width $100
            p
                display block
                color #555
                margin 0 0 10px 0
                font-size 14px
            img
                height 300px
                object-fit cover
        &_time   
            width @width
            margin-top 50px
            color #ddd
            font-size 13px

        
                  
.imgcenter
    display inline-block
    margin-right 5px
    &:last-of-type
        margin 0
.prev
    padding-right 10px
    
nav.page-nav
    margin 2em 0
    padding-left $liubai
    .current
        color $color_red

.page-number
    margin 0 10px 0 0     
 // top       
.logo
    position fixed
    z-index 1
    float left
    left -50px
    top 60px
    svg
        float left
        width 220px
.nav
    display inline-block
    padding 70px 0 70px  $liubai
    width calc($100 - $liubai)
    width $box-width
    
.search-right
    float right
    // width 30%
    input
        border 1px $color_grey solid
        background none
        padding 0 12px
        border-radius 3px
        height 28px
        line-height @height
        text-align center
        position relative
        top 0px
    
ul.archive-list
    position relative
    z-index 2
    float left
    width calc($100 - 50%)
    list-style none
    margin 0
    padding 0

    li
        width auto
        float left
        font-size 28px
        height 32px
        line-height @height
        padding-right 20px
        a
            position relative

//footer
.footer
     margin 2em 0
     font-size 14px
     padding-left $liubai
     span
         line-height 2.2em    

#local-search-result
    position relative
    padding-left $liubai
    i
        position absolute 
ul.search-result-list
    margin-left 20px

// 右下角
.lower_right
    position fixed
    right 15px
    bottom @right
    font-size $13
    a
        color $color1
.goTop 
    margin-bottom 15px
    display block
    text-decoration none        

.style_
    box-shadow 0px 0px 100px rgba(0, 0, 0, .15)
    width 50px
    height @width
    text-align center
    line-height @width
    border-radius 4px
    background rgba(255,255,255,.8)
    border 1px #f5f5f5 solid
    cursor pointer
    font-style normal

// detail
._detail
    padding 30px 0 30px $liubai
    width $box-width
    &_title
        font-size 30px
    &_time
        font-size 12px
        color #999 
    &_cont
        font-size 16px
        padding 60px 0
        ul
            margin 0
            padding 0 0 0 17px
            li
                line-height 2em
                font-size 16px
        p
            font-size 15px
            line-height 23px
            margin 2em 0
            img
                margin-bottom 1em          
    &_tags
        font-size 12px           
blockquote
    p
        padding 10px !important
        margin 0 !important
.prev_next
    padding 1.5em 0 1.5em 249px
    font-size $13
    a
        color $color2
        display block  
        text-decoration none
        line-height 21px
        padding 6px 0
        overflow hidden
        text-overflow ellipsis
        display -webkit-box
        -webkit-line-clamp 1
        -webkit-box-orient vertical


    




















    


// other
.v
    padding 0 0 0 $liubai
    width $box-width
.v .vwrap .vheader .vinput
    display none !important
.v .vwrap .vedit,.v .vinput
    padding 0 !important        
.st0
    display inherit         
i#local-search-close
    display: none;

.highlight table td, .highlight table th, .highlight table tr
    border 0px
    padding 0px

.highlight .code
    width: $100
ul.post-tag-list
    list-style-type none
    margin 0
    display inline-block
    li
        padding 0 10px
        border 1px #eee solid
        background #f2f3f5
        line-height 30px
        height 30px
        border-radius 3px
        width auto
        float left
        margin-right 10px
        font-size 13px
        span.post-tag-list-count
            color #999
            padding-left 6px  

.v .vlist .vcard .vh .vmeta .vat
    color #222 !important
figure.highlight
    border 10px #222 solid
    border-radius 3px 
    overflow auto
    margin 10px 0
     
.hljs
    padding 0 10px !important
    margin 5px 0
    border-radius 5px
    line-height 25px


// style 2
.bg_while
    background #070707
    a
        color #888
    a:hover
        color #FF513EFF    
    .style_
        background rgba(0,0,0,.1)
        border #272727 1px solid
    ._list
        &_item:hover
            background #161616
        &_year
            color #444
        &_item    
            &_time
                color #444
            &_title
                color #888        
    .search-right input
        border 1px #888 solid
    ul.post-tag-list li,
    .v .vbtn
        background #131313 !important  
        border 1px #131313 solid !important      
    blockquote
        background #111
        border-left 8px #333 solid
    .hbe-button
        border 1px #444 solid
        color #666
    .el-switch .el-switch-style:before
        color #888
    .hbe-input-field-default
        color #999 !important 
    .hbe-input
        border-bottom #222 1px solid !important       
 
    .v .vwrap
        border-color #333 !important;
    .v .vlist .vcard .vh
        border-bottom 1px dashed #333    
    .v .vlist .vcard .vhead .vsys
        background #222
    .v .vlist .vcard .vh .vmeta .vat
        color #fff !important  

    ._detail
        color #888
        &_title,
        &_time
            color #888
            

// 手机尺寸    
@media screen and (max-width: 600px) {
    .footer,
    nav.page-nav{
        m_yuliu(auto,0,20px)
    }
    .nav{
        m_yuliu(auto,0,20px)
    }
    ul.archive-list{
        width $100
    }
    ul.archive-list li{
        width $100
        text-align right 
    }
    .search-right{
        float left
        width $100
        input{
            width calc($100 - 28px)
            height 46px
            margin-top 20px
        }
    }
    #local-search-result{
        m_yuliu($100,0,0)

    }
    .local-search-empty{
        // padding-left 20px
        margin-top 20px
        display block
        color red
        text-align center
    }
    ul.search-result-list{
        margin-left 40px
        margin-top 20px
    }
    .logo{
        position relative
        left auto
        top 20px
        width calc($100 - 20px)
        svg{
            float right
        }
    }
    ._list{
       m_yuliu(auto,0,20px)
    }
    ._list_year{
        width auto
        padding 50px 0 0 0
    }
    .ekrt{
        display flex
    }
    ._list_item_title{
        font-size 20px
    }
    ._list_item{
        width auto
        padding 0
        margin 50px 0 0 0 
        &_con{
            height auto
            img{
                height 100%
                object-fit cover
            }
        }
    }
    ._list_item:hover{
        background none 
    }
    ._list_item_time{
        margin-top 10px
    }
    
// detail
    .v,
    ._detail,
    .prev_next{
        m_yuliu(auto,0,20px)
    } 
    ._detail{
        padding-top 30px
        padding-bottom 30px
        &_title,
        &_time{
            text-align center
        }
        &_cont{
            m_yuliu(auto,20px,0)
        }
    }   
}


