@import "_partial/index"
@import "_partial/base"
// @import "_partial/post"
@import "_partial/markdown"
@import "_partial/vcomments"
.abc
    position fixed
    right 15px
    bottom 15px
    a
        color #111 !important

.te
    position absolute
    top -5px
    left -100px
    font-size 25px
    color #666
    transform rotate(180deg) scale(1, 1) skew(0deg, 0deg) translate(0, 0)   
.xf
    box-shadow 0px 0px 100px rgba(0, 0, 0, .15)
    width 50px
    height 50px
    text-align center
    line-height 50px
    border-radius 4px
    background rgba(255,255,255,.8)
    border 1px #f5f5f5 solid
    cursor pointer
    font-style normal

ul.post-tag-list
    list-style-type none
    width 100%
    padding 0
    margin 0
    display inline-block
    li
        padding 1px 8px
        border 1px #fff solid
        background #fff
        line-height 22px
        border-radius 3px
        width auto
        float left
        margin-right 10px
        font-size 13px
        a
            color #777
            text-decoration none            
body
    list-style-type none
    background #fff
    // background #eff0f6
    // color #222
    // font-family 'Noto Serif', 'Times New Roman', serif
    // font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

    font-family: DINAlternate-bold, Helvetica, Tahoma, Arial, "Microsoft YaHei", "微软雅黑","Microsoft JhengHei",STXihei, "华文细黑", SimSun, "宋体", Heiti, "黑体", sans-serif;

       
 #bodyx
    max-width 800px
    min-width 46%
    padding-left 150px

.abc_logo
    width 100%
    height 60px
         
.goTop 
    margin-bottom 15px
    display block
    color #000
    text-decoration none
    a
        color #000
.prev_next
    display block
    width 100%
    padding 1.5em 0
    font-size 13px
    a
        color #222
        display block  
        text-decoration none
        line-height 21px
        padding 6px 0
        overflow hidden
        text-overflow ellipsis
        display -webkit-box
        -webkit-line-clamp 1
        -webkit-box-orient vertical
.st0
    display inherit
    
.search-right
    float right !important
    padding 0 120px 0 0
.logo
    // font-size 5em
    // margin-left -15px
nav.page-nav
    margin 2em 0
    span
        width 100px  
       
    a,.current
        padding 0 10px 0 0
        text-decoration none
        color #999 
    .current
        color #222
.nav
    width 100%
    padding 70px 0 0 0
    display inline-block
    list-style none
    line-height 30px     
    div
        float left
        font-size 1em
        input
            border 2px #025FCC solid
            border none
            // border-bottom 5px #99DDFF solid
            // border-radius 3px
            background none
            padding 0 12px
            height 30px
            line-height 30px
            text-align center
            width calc(100% - 28px)
            
        a
            color #444
            text-decoration none
            font-size 1.2em
            font-weight 100
        a:hover
            text-decoration none 
    div:nth-child(2)
        margin-left 30px        

#local-search-result
    position relative
    i
        position absolute

ul.search-result-list
    list-style decimal-leading-zero
    li
        a
          color red              
i#local-search-close
        display: none;
.imgcenter{
    display inline-block
    text-align center 
    margin-right 10px
}
.initImg{
    width auto
    height auto
    object-fit cover
} 
              
.list
    width 100%
    display inline-block
    height auto
    margin 3em 0 0 0
    // font-weight 900
    // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    
    h2
        color #fff
        font-size 2em
        // border-bottom .5px #ddd dashed
        margin 1em 0 0 0
        padding-bottom .5em
        padding 0 0 10px 34px
        font-weight 900
        // font-weight 900
        // font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        // -webkit-text-stroke .6px #999
        font-family DINAlternate-bold, Helvetica, Tahoma, Arial, "Microsoft YaHei", "微软雅黑","Microsoft JhengHei",STXihei, "华文细黑", SimSun, "宋体", Heiti, "黑体", sans-serif;

    
    div 
        // display block
        font-size 1em 
        color #aaa
        padding 0 0 20px 0
        span.left
            float left
            overflow hidden
            color #AAA
            display block
            font-size 12px
            font-weight 300
            color #777
            line-height 24px
                
                
        span.right 
            margin-left 34px
            display block  
            // background blue
            i
                font-size 15px
                // padding 0 12px
                margin 6px 0 0 0
                display block 
                // font-weight 300
                // border-left 5px #aaa solid
                // font-style italic
                font-style:normal
                font-weight 300
                color #777
            img
                height 220px
                margin 15px 0 0 0   
            a
                color #333
                display block
                text-decoration underline
                font-weight 900
                font-size 24px
                width 86%
                
                
            a:hover
                text-decoration none 

.footer
     width 100%
     display block
     margin 2em 0
     font-size 14px
     span
         line-height 2.2em
         
.cont
    margin 4em 0 5em 0
    line-height 1.6em
    p
        font-size 1em
        color #444
        line-height 1.2em
        
    div
        color #222
        font-size 24px
        font-weight 700
        line-height 1.1em
        margin 0 0 60px 0
        
        p
            font-size 13px
            color #999
            margin 0
            padding 0
            line-height 31px
            font-weight 300  

.highlight table td, .highlight table th, .highlight table tr
    border 0px
    padding 0px


.highlight .code
    width: 100%

// style 2
.bg_while
    background: #000
    .hbe-button
        border 1px #444 solid
        color #666
        // background #666
    .el-switch .el-switch-style:before
        color #666
    .hbe-input-field-default
        color #999 !important 
    .hbe-input
        border-bottom #222 1px solid !important       
    .xf
        background rgba(0,0,0,.6)
        border .5px #222 solid !important
    .abc
        a 
            color #666 !important   
    .nav
        a
            color #999
    .logo
        color #999
    a
        color #999
    ul.post-tag-list li
        border 1px #111 solid
        background #222
        a
            color #aaa    
    .list
        h2
            color #000
            -webkit-text-stroke .6px #999
        div
            color #999
            span.left
                color #666
            span.right
                i
                    color #444
                a
                    color #999    
    .cont
        color #999
        div
            color #999
    .v .vwrap
        border-color #333 !important;
    .v .vlist .vcard .vh
        border-bottom 1px dashed #333    
    .v .vlist .vcard .vhead .vsys
        background #222
    .v .vlist .vcard .vh .vmeta .vat
        color #fff !important  
    nav.page-nav .current
        color #fff
             


.v .vwrap
        border-color: #ddd !important;
        background #fff
.v .vwrap .vheader .vinput
        display none !important
.v .vwrap .vedit,.v .vinput
        padding 0 !important   
.v .vbtn
        background #fff !important 
.v .vlist .vcard .vh .vmeta .vat
    color #222 !important
figure.highlight
    border:10px #222 solid;  
    border-radius 5px;      
.hljs
    padding 0 0.5em !important
    margin 5px 0;
    border-radius 5px
    
@media screen and (max-width: 600px) {
    .imgcenter:last-of-type{
        margin 0
    }   
    .te{
        display none
        // left 0
        // top 10px
    }
    .giveFive{
        margin-left 0
    }
    .abc_logo{
        position relative
        margin auto
        overflow hidden
        width 40px
        padding 0 20px
    }
    #bodyx{
        padding 0 15px
        width calc(100% - 30px)
        
    } 
    .nav{
        padding 150px 0 0 0
        div{
            width 100%
            text-align right
            input{
                text-align right
                height 40px
                border 2px #F16925 solid
            }
        }
        div:nth-child(2){
            margin 0
        }
        div:last-of-type{
            margin 10px 0 0 0
            width 100%
        }
        
    }
    .list{
        margin 0
        h2{
            font-size 2em
            margin-top .8em
            text-align left
            color none
            -webkit-text-stroke .5px #777
        }
        div{
            padding 0 0 10px 0
            span.left{
                color #333
            }
            span.right{
                // margin 0 34px
                a
                {
                    font-size 20px
                    line-height 24px
                    width 100%
                }

                i{
                    color #777
                    font-size 14px
                    // line-height 18px
                }
                img{
                    width 96px
                    height 120px
                    // width auto
                    // height auto
                    display block
                }

            }
        }
    }
    nav.page-nav, .footer{
        text-align center
    }
    .cont {
        margin 3em 0
        p{
            color #555
        }
        div{
            text-align:center;
            margin-bottom:20px;
        }
    } 
    .search-right{
        float:right;
        padding:0 0 0 0;
    } 
    .st0{
        // display none
    }
    .hbe-content{
        padding 0 30px !important
    }  
}

