html,
body
    margin: 0
    padding: 0
    border: 0
    font-size: 100%
    font: inherit
    vertical-align: baseline
ul,li
    padding 0
    margin 0    
    
hr
    display: block; 
    height:1px; 
    *color:#f60;/* for ie6 ie7 */
    background-color:#eee; 
    border:none; 

h1,h2,h3,h4,h5,h6
    margin 5px
    font-family: DINAlternate-bold, Helvetica, Tahoma, Arial, "Microsoft YaHei", "微软雅黑","Microsoft JhengHei",STXihei, "华文细黑", SimSun, "宋体", Heiti, "黑体", sans-serif;    
    // font-family "Iowan Old Style", "Ovo", "Hoefler Text", Georgia, "Times New Roman", "TIBch", "Source Han Sans", "PingFangSC-Regular", "Hiragino Sans GB", "STHeiti", "Microsoft Yahei", "Droid Sans Fallback", "WenQuanYi Micro Hei", sans-serif
    // font-family: "Times New Roman", Times, serif;
table,th,td
    border-collapse collapse
    border-spacing 0
    border 1px solid #222
    border-spacing 0px !important
    padding 3px 10px
    font-size: 14px
.local-search-empty
    color #666
blockquote
    border-left 8px #ddd solid
    margin 10px 0px 10px 0
    padding 3px
    background #F7F8F8
    border-top-right-radius 3px
    border-bottom-right-radius 3px
    p
        padding-left 12px

img
    max-width 100% 
    min-width auto 
    border-radius 3px   
    display block
      
.pre{
    border-radius:5px
}
code{

    background rgba(241 105 37,.1)
    padding 4px
    border-radius 3px
    color rgba(241 105 37,1)
    margin 0 3px
}
ul.archive-list li a::before {  
  transform: scaleX(0);
  transform-origin: bottom right;
}

ul.archive-list li a:hover::before  {
  transform: scaleX(1);
  transform-origin: bottom left;
}

ul.archive-list li a::before {
  content: " ";
  display: block;
  position: absolute;
  height 10px;
  margin-top: 20px;
  top: 0px; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background: rgba(241 105 37,.3);
  z-index: -1;
  transition: transform .3s ease;
}




    
::selection {
background: #F16925;
color: #fff;
}

::-moz-selection {
background: #F16925;
color: #fff;
}

::selection {
background: #F16925;
color: #fff;
}

::-moz-selection {
background: #F16925;
color: #fff;
}
// @media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) { 
//     .masked{
//         background: red;
//         background-image: -webkit-linear-gradient(left, rgba(241 105 37,1), #FFEB00FF 25%, rgba(241 105 37,1) 50%, #FFEB00FF 75%, rgba(241 105 37,1));
//         -webkit-text-fill-color: transparent;
//         -webkit-background-clip: text;
//         -webkit-background-size: 200% 100%;
//         -webkit-animation: masked-animation 4s infinite linear;
//     }
// }
// @-webkit-keyframes masked-animation {
//     0%  { background-position: 0 0;}
//     100% { background-position: -100% 0;}
// }

